<html>
    <head>
        <title>Haii Final Project</title>
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <div class="container">
            
            <div class="page-header">
              <h1>Insert Title Here<small></small></h1>
            </div>
            <form action="/predict" method="POST" role="form">
                <legend>Model 1</legend>
            
                <div class="form-group">
                    <label for="gpa">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="16">
                </div>
            
                <div class="form-group">
                    <label for="test_score">School Name</label>
                    <input type="text" class="form-control" id="school-name" name="school-name" placeholder="Bronx School of Science">
                </div>                
            
                <button type="submit" class="btn btn-primary">Predict!</button>
            </form>
            
        </div>
        
    </body>
</html>